/*  ----------------------------------------------------------------------------
 *  Definitions
 *  ------------------------------------------------------------------------- */

/*
For pixels (px) Declare this percent (%)
10   77
11   85
12   93
13   100
14   108
15   116
16   123.1
17   131
18   138.5
19   146.5
20   153.9
21   161.6
22   167
23   174
24   182
25   189
26   197
*/

:root {

  /***************************************************************************
   * fonts etc.
   **************************************************************************/

  --primary-font-family: "Roboto", sans-serif;
  --primary-font-size: 16px;
  --primary-font-weight: 121;
  --primary-font-color: var(--light-grey);
  --primary-font-variations: "wdth" 121, "slnt" 0;
  --primary-line-height: 24px;

  /***************************************************************************
   * colors
   **************************************************************************/

  /* black: #000000; */
  --black: hsl(0, 0%, 0%);
  --off-black: hsl(0, 0%, 9%);
  --dark-grey: hsl(0, 0%, 15%);
  --med-dark-grey: hsl(0, 0%, 20%);
  --med-grey: hsl(0, 0%, 33%);
  --grey: hsl(0, 0%, 33%);
  --med-light-grey: hsl(0, 0%, 47%);
  --light-grey: hsl(0, 0%, 60%);
  --off-white: hsl(0, 0%, 73%);
  --white: hsl(0, 100%, 100%);
  /* white: #FFFFFF; */

}
